operations.json
config.json
dfg.json
kernel_*.cpp
kernel_*.bc
core
kernel.c.cpp
kernel.s
out
run_all_benchmarks_old/
run_all_benchmarks_outputs/
run_output.old.old
successes.png
successes.png_lines.eps
successes.png_lines.png
temp*
